@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}
body{
   background-image: linear-gradient(to bottom,#5F2C82,#54AAA7);
}
main{
    transition: width 0.5s,height 0.5s;
    display: inline-block;
    width: 80vw;
    height: 280px;
}
div#principal{
    width: 80vw;
    height:280px;
    display: inline-block;
    position: relative;
}
div#imagem{
    display: inline-block;
    width: 25vw;
    height: 280px;
    border-top: none;
    border-radius: 20px 0px 0px 20px
}
form{
    display: inline-block;
    position: absolute;
}
form > h1{
    width: 53vw;
    margin: auto;
    display: inline-block;
    position: absolute;
}
form > p{
    width: 53vw;
    display: inline-block;
    position: absolute;
    top: 21%;
}
div#formulario{
    width: 55.1vw;
    display: inline-block;
    position: absolute;
    top: 33%;
}
.dados{
    width: 47vw;
}
input[type = "submit"]{
    width: 53vw;
    position: absolute;
    left: 100%;
    bottom: 20%;
}
div#botao{
    width:53vw;
    display: inline-block;
    position: absolute;
    top: 80%;
}
div#botao > a{
    width: 40vw;
    left:72%;
}