#container{
    grid-template: 20px 1fr 20px/ 20px 300px 20px 1.4fr 20px ;
}
#ficha{
    position: sticky;
    top: 0;
    grid-area: 2 / 2 / -2 / 3;
    padding: 20px;
}
#ficha >  section{
    padding-top: 5px;
}
#ficha > section > h2 {
    line-height: 1;
    margin-bottom: 5px;
}
#detalhes{
    grid-area: 2 / 4 / -2 / -2;
    
}