/* 
  Variáveis para cores:
  --fundo-principal
  --texto
  --texto-inverso
  --destaque
  --destaque-inverso
  --fundo-card
*/

:root{
    --cor-principal: #0077FF;
    --cor-defundo: #F5F5F5;
    --cor-elemento: #66BBFF;


    /*Cores Noturna*/
    --cor-principal-reverso: #FF5522;
    --cor-defundo-reverso: #222222;
    --cor-elemento-reverso: #444444;

}

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: var(--cor-defundo);
    width: 100%;
    height: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
body.escuro h2{
    /*Modo escuro*/
    color: var(--cor-principal-reverso);
}
body.escuro p{
    /*Modo escuro*/
    color: #E0E0E0;
}
body.escuro p > strong{
    /*Modo escuro*/
    color: #E0E0E0;
}
body.escuro span > strong{
    /*Modo escuro*/
    color: #E0E0E0
}
body.escuro #formacao > div > h3{
    /*Modo escuro*/
    color: #A73917;
}
body.escuro #formacao > div > p{
    /*Modo escuro*/
    color: #E0E0E0
}
body.escuro  h3{
    color: #E0E0E0
}
header{
    padding-right: 5px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    align-items: center;
    background-color: var(--cor-principal);
    z-index: 1; /*Controla a camada*/
    transition: background-color 0.5s ;
}
body.escuro header{ /*Modo escuro*/
    background-color: #FF5522;
}
header > menu > a > i{
    text-align: center;
    padding: 14px;
    width: 25px;
    color: white;
    border-radius: 5px;
    transition: color 0.6s;
}
header > menu > p{
    display: inline-block;
    text-align: center;
    padding: 14px;
    width: 25px;
    color: white;
    border-radius: 5px;
    transition: color 0.6s;
}

body.escuro header >  menu > a > i{
    /*Modo escuro*/
    color:var(--cor-defundo-reverso);
}
header > menu > a > i:hover{
    color: var(--cor-principal);
    background-color: #5c9de8;
    cursor: pointer;
    transition: background-color 0.1s, color 0.5s;
    transition-timing-function: ease;
}
header > menu  > p:hover{
    color: var(--cor-principal);
    background-color: #5c9de8;
    cursor: pointer;

    transition: background-color 0.1s, color 0.5s;
    transition-timing-function: ease;
}
body.escuro> header > menu > a > i:hover{/*Modo escuro*/
    background-color: #b53d18d8;
    color: var(--cor-principal-reverso);
}
body.escuro header > menu  > p:hover{
    /*Modo escuro*/
    background-color: #b53d18d8;
    color: var(--cor-principal-reverso);
}
#container{
    display: grid;
    grid-template: 20px 0.3fr 20px 5fr 20px / 4vw auto 4vw;
    background-color: var(--cor-defundo);
    transition: background-color 0.5s ;
}
body.escuro> #container{
    /*Modo Escuro*/
    background-color: var(--cor-defundo-reverso);
}
#ficha{
    padding: 20px;
    grid-area: 2 / 2 / 3 / 3;
    background-color: white;
    border-radius: 10px;
    transition: background-color 0.3s;
}
body.escuro  #ficha{
    /*Modo Escuro*/
    background-color: var(--cor-elemento-reverso);
}
main > div#ficha > article  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
#ficha >  article > div{
    background-image: url(../imagens/guanabara-perfil.jpg);
    background-position: center center;
    background-size: cover;
    border: 5px solid white;
    outline: 5px solid #0077FF;
    border-radius: 50%;

    width: 190px;
    height: 190px;

    transition: color 0s;
}
body.escuro #ficha >  article > div{
    /*Modo Escuro*/
    border: 5px solid var(--cor-elemento-reverso);
    outline: 5px solid var(--cor-principal-reverso);
}
h2{
    color: var(--cor-principal);
}
#ficha >  section > h2{
    padding-bottom: 10px;
}
#ficha > section{
    margin-top: 10px;
    line-height: 1.5;
}
#ficha  >  nav{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#ficha > nav > a > i{
    color: var(--cor-principal);
    font-size: 1.6em;
    padding: 7px;
    padding-bottom: 0px;
}
body.escuro #ficha > nav > a > i{
    /*Modo Escuro*/
    color: var(--cor-principal-reverso);
}
#ficha >   nav >  a > i:hover{
    cursor: pointer;
    color: #0077ff9a;
    transition: color 0.5s;
    transition-timing-function: ease;
}
body.escuro #ficha >   nav >  a > i:hover{
    /*Modo Escuro*/
    color: #b63c18;
}
#detalhes{
    display: grid;
    grid-template: auto 20px 0.1fr 20px 0.1fr 20px 1fr/1fr 1fr;
    grid-area: 4 / 2 / 5 / 3;
    background-color: var(--cor-defundo);
    border-radius: 10px;
    transition: background-color 0.3s;
}
body.escuro #detalhes{
    /*Modo Escuro*/
    background-color: var(--cor-defundo-reverso);
}
#video{
    padding: 20px;
    aspect-ratio: 16 / 9;
    background-color: white;
    border-radius: 10px;
    grid-area: 1 / 1 / 2 / -1;
    transition: background-color 0.3s;
}
body.escuro #video{
    /*Modo Escuro*/
    background-color: var(--cor-elemento-reverso);
}
#video > h2{
    padding-bottom: 10px;
}
iframe{
    margin-top: 10px;
    border-radius: 10px;
    width: 100%;
    height: 100%; 
}
#skills{
    height: 100%;
    grid-area: 3 / 1 / 4 / -1;
    background-color: white;
    border-radius: 10px;
    font-weight: bold;
    padding-bottom: 5px;
    transition: background-color 0.3s;
}
body.escuro #skills{
    /*Modo Escuro*/
    background-color: var(--cor-elemento-reverso);
}
#skills > h2{
    padding: 20px;
    padding-bottom: 0px;
}
.text{
    padding: 20px;
    padding-bottom: 7px;
    padding-bottom: 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

meter{
    width: 100%;
    appearance: none;
}
meter::-webkit-meter-bar {
    background: var(--cor-defundo);
    border-radius: 20px;
}
body.escuro meter::-webkit-meter-bar{
    /*Modo Escuro*/
    background-color: var(--cor-defundo-reverso);
}
meter::-webkit-meter-optimum-value {
    background: var(--cor-elemento);
    border-radius: 20px;
}
body.escuro meter::-webkit-meter-optimum-value{
    /*Modo Escuro*/
    background-color: #A73917;
}
#formacao{
    padding: 20px;
    grid-area: 5/1/6/-1;
    background-color: white;
    border-radius: 10px;
    transition: background-color 0.3s;
}
body.escuro #formacao{
    /*Modo Escuro*/
    background-color: var(--cor-elemento-reverso);
}
#formacao > h2{
    padding-bottom: 0;
}
#formacao > div{
    background-color: var(--cor-defundo);
    border-radius: 10px;
    padding-left: 15px;
    border-left: 5px solid var(--cor-elemento);
    margin-top: 20px;
    transition: border-left 0.80s ease;
}
body.escuro #formacao > div{
    /*Modo Escuro*/
    background-color: var(--cor-defundo-reverso);
    border-left: 5px solid #A73917;
}
#formacao > div >span{
    font-size: small;
    font-weight: bold;
}
#formacao > div > h3{
    color: var(--cor-elemento);
    padding-bottom: 5px;
    padding-top: 5px;
}
#formacao > div > p{
    font-size: 1rem; 
    padding-bottom: 3px;
}
#formacao > div:hover{
    cursor: pointer;
    border-left: 15px solid #0077FF;

    transition: border-left 0.6s;
}
body.escuro #formacao > div:hover{
    border-left: 15px solid var(--cor-principal-reverso);
}
#projetos{
    grid-area: 7 / 1 / -1 / -1;
    padding: 20px;
    padding-bottom: 20px;
    background-color: white;
    border-radius: 10px;

    transition: background-color 0.3s;
    
}
body.escuro #projetos{
    /*Modo Escuro*/
    background-color: var(--cor-elemento-reverso);
}
.projeto{
    margin-top: 20px;
    background-color: var(--cor-defundo);
    padding: 10px;
    border-radius: 10px;
    border-left: 5px solid var(--cor-elemento);
    line-height: 1.5;

    transition: border-left 0.80s ;
}
body.escuro .projeto{
    /*Modo Escuro*/
    background-color: var(--cor-defundo-reverso);
    border-left: 5px solid #A73917;
}
.projeto:hover{
    cursor: pointer;
    border-left: 15px solid var(--cor-principal);
    transition: border-left 0.5s;
    transition-timing-function: ease;
}
body.escuro .projeto:hover{
    /*Modo Escuro*/
    border-left: 15px solid var(--cor-principal-reverso);
}
.imagem{
    margin-bottom: 10px;
}
.imagem > img{
    border-radius: 10px;
    width: 100%;
}
#desc-album{
    display: none;
}
#desc-login{
    display: none;
}
#desc-social{
    display: none;
}
#desc-android{
    display: none;
}
#desc-cordel{
    display: none;
}
#desc-video{
    display: none;
}
footer{
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-principal);
    color: white;

    transition: background-color 0.3s;
}
body.escuro footer{
    /*Modo Escuro*/
    background-color: var(--cor-principal-reverso);
}
body.escuro footer > p{
    /*Modo Escuro*/
    color: var(--cor-defundo-reverso)
}
body.escuro footer p> strong{
    /*Modo Escuro*/
    color: var(--cor-defundo-reverso)
}