/* 
  Variáveis para cores:
  --fundo-principal
  --texto
  --texto-inverso
  --destaque
  --destaque-inverso
  --fundo-card
*/

:root{
    --cor-principal: #0077FF;
    --cor-defundo: #F5F5F5;
    --cor-elemento: #66BBFF;
}

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: var(--cor-defundo);
    width: 100%;
    height: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
header{
    padding-right: 5px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    align-items: center;
    background-color: var(--cor-principal);
    z-index: 1000; /*Controla a camada*/
}
header > p > i{
    text-align: center;
    padding: 14px;
    width: 25px;
    color: white;
    border-radius: 5px;
}
header > p > i:hover{
    color: var(--cor-principal);
    background-color: #5c9de8;
    cursor: pointer;
    transition: background-color 0.1s, color 0.5s;
    transition-timing-function: ease;
}
#container{
    display: grid;
    grid-template: 20px 0.3fr 20px 5fr 20px / 4vw auto 4vw;
    background-color: var(--cor-defundo);
}
#ficha{
    padding: 20px;
    grid-area: 2 / 2 / 3 / 3;
    background-color: white;
    border-radius: 10px;
}
main > div#ficha > article  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
#ficha >  article > div{
    background-image: url(../imagens/guanabara-perfil.jpg);
    background-position: center center;
    background-size: cover;
    border: 5px solid white;
    outline: 5px solid #0077FF;
    border-radius: 50%;

    width: 190px;
    height: 190px;
}
h2{
    color: var(--cor-principal);
}
#ficha >  section > h2{
    padding-bottom: 10px;
}
#ficha > section{
    margin-top: 10px;
    line-height: 1.5;
}
#ficha  >  nav{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#ficha > nav > a > i{
    color: var(--cor-principal);
    font-size: 1.6em;
    padding: 7px;
    padding-bottom: 0px;
}
#ficha >   nav >  a > i:hover{
    cursor: pointer;
    color: #0077ff9a;
    transition: color 0.5s;
    transition-timing-function: ease;
}
#detalhes{
    display: grid;
    grid-template: auto 20px 0.1fr 20px 0.1fr 20px 1fr/1fr 1fr;
    grid-area: 4 / 2 / 5 / 3;
    background-color: var(--cor-defundo);
    border-radius: 10px;
}
#video{
    padding: 20px;
    aspect-ratio: 16 / 9;
    background-color: white;
    border-radius: 10px;
    grid-area: 1 / 1 / 2 / -1;
}
#video > h2{
    padding-bottom: 10px;
}
iframe{
    margin-top: 10px;
    border-radius: 10px;
    width: 100%;
    height: 100%; 
}
#skills{
    height: 100%;
    grid-area: 3 / 1 / 4 / -1;
    background-color: white;
    border-radius: 10px;
    font-weight: bold;
    padding-bottom: 5px;
}
#skills > h2{
    padding: 20px;
    padding-bottom: 0px;
}
.text{
    padding: 20px;
    padding-bottom: 7px;
    padding-bottom: 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
meter{
    width: 100%;
    appearance: none;
}
meter::-webkit-meter-bar {
    background: var(--cor-defundo);
    border-radius: 20px;
}

meter::-webkit-meter-optimum-value {
    background: var(--cor-elemento);
    border-radius: 20px;
}
#formacao{
    padding: 20px;
    grid-area: 5/1/6/-1;
    background-color: white;
    border-radius: 10px;
}
#formacao > h2{
    padding-bottom: 0;
}
#formacao > div{
    background-color: var(--cor-defundo);
    border-radius: 10px;
    padding-left: 15px;
    border-left: 5px solid var(--cor-elemento);
    margin-top: 20px;
}
#formacao > div >span{
    font-size: small;
    font-weight: bold;
}
#formacao > div > h3{
    color: var(--cor-elemento);
    padding-bottom: 5px;
    padding-top: 5px;
}
#formacao > div > p{
    font-size: 1rem; 
    padding-bottom: 3px;
}
#formacao > div:hover{
    cursor: pointer;
    border-left: 15px solid #0077FF;

    transition: border-left 0.6s;
}
#projetos{
    grid-area: 7 / 1 / -1 / -1;
    padding: 20px;
    padding-bottom: 20px;
    background-color: white;
    border-radius: 10px;
}
.projeto{
    margin-top: 20px;
    background-color: var(--cor-defundo);
    padding: 10px;
    border-radius: 10px;
    border-left: 5px solid var(--cor-elemento);
    line-height: 1.5;
}
.projeto:hover{
    cursor: pointer;
    border-left: 15px solid var(--cor-principal);
    transition: border-left 0.5s;
    transition-timing-function: ease;
}
.imagem{
    margin-bottom: 10px;
}
.imagem > img{
    border-radius: 10px;
    width: 100%;
}
#desc-album{
    display: none;
}
#desc-login{
    display: none;
}
#desc-social{
    display: none;
}
#desc-android{
    display: none;
}
#desc-cordel{
    display: none;
}
#desc-video{
    display: none;
}
footer{
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-principal);
    color: white;
}